/* Your custom styles */


/* Minimalist Intro */
 .top-nav-collapse {
     background-color: #333 !important;
 }

 .navbar:not(.top-nav-collapse) {
     background: transparent !important;
 }

 @media (max-width: 768px) {
     .navbar:not(.top-nav-collapse) {
         background: #333 !important;
     }
 }

 h1 {
     letter-spacing: 8px;
 }

 h5 {
     letter-spacing: 3px;
 }

 .hr-light {
     border-top: 3px solid #fff;
     width: 80px;
 }

 @media (max-width: 740px) {
     .full-height,
     .full-height body,
     .full-height header,
     .full-height header .view {
         height: 700px;
     }
 }
/* /.Minimalist Intro */


/* Carousel */
.carousel {
    height: 50%;
}

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/*Caption*/

.flex-center {
    color: #fff;
}

.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}

.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}
/* /.Carousel */